**/dist/
**/coverage/
**/.angular/
**/*.md
guides/
packages/server/demo/guides/
schema/*.json
packages/core/test/fixtures/
packages/server/drizzle/
packages/client/playwright-report/
packages/client/test-results/
